/* Main */
.companyNameMain {
  border-style: solid;
  border-color: white;
  width: 700px;
  height: 150px;
  margin-left:auto;
  margin-right:auto;
}

.space-div{
height:10px;
}

.companyName{
  border-style: solid;
  border-color: #33CCFF;
  width: 700px;
  height: 150px;
  margin-left:auto;
  margin-right:auto;
}

.companyNameMain h1 {
  margin-top: 30px;
  font-family: 'Righteous', cursive;
}

.companyName h1{
  margin-top: 30px;
  font-family: 'Righteous', cursive;
}

.create-top{
  margin-top:140px;
  border:1px solid #ffffff;
  width:170px;
  margin-left:auto;
  margin-right:auto;
  font-family:'Josefin Sans',sans-serif;
}

.create-top a{
    text-decoration:none;
    color:white;
}

.create-top:hover{
    background-color:yellow;  
    color:black;  
}
.create-top:hover a{
    color:black;
}

.containerLogoMain {
  height: 500px;
  width: 100%;
  background-color: #F5CDC3;
  background-image:url("/assets/background-lettergram.jpg");
}

.containerLogo {
  height: 100px;
  width: 100%;
  background-color: white;
}

.companyNameMain a {
  text-decoration: none;
  color: white;
  font-size: 70px;
}

.companyName a{
  text-decoration: none;
  color: #33CCFF;
  font-size: 70px;
}

body {
  font-family: Helvetica, Verdana;
  color: #33CCFF;
  text-align: center;
}

.container h1 {
  border-style: solid;
  border-color: #33CCFF;
  margin: 10px 30% 10px 30%;
}

.container h3 a {
  text-decoration: underline;
  color: #33CCFE;
}

/* Links */

.userStatus {
  text-align: right;
  margin-top:-150px;
}

.userStatus a {
  text-decoration: none;
  color: blue;
  font-size: 20px;
}

.userStatus a:hover {
  text-decoration: underline;
}

/* Flash Message */
.errorMessage .error, .flashMessage{
  margin: 5px 30%;
  background-color: black;
  color: #fff;
  font-size: 20px;
  font-style: italic;
  text-align: center;
}

/* Steps */
.steps {
  border-style: solid;
  border-color: #33CCFF;
  width: 400px;
  height: 50px;
  font-size: 12px;
}