<div class="steps"><h1>Step one: Choose an option.</h1></div>

<div class="optionGallery"><%= link_to 'Browse Gallery', new_gallery_path %></div>
<div class="optionDesign"><%= link_to 'Design My Own!', new_design_path %></div>