// Place all the styles related to the gallery controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.letterimage img{
    max-width: 500px;
    max-height: 300px;
    z-index:9999;
}
.letterimage:hover {
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
  z-index:-9999;
}

.letterimagepreview {
  max-width: 700px;
  max-height: 400px;
  z-index:9999;
}

.img-zoom{
	width: 600px; 
}

